<div style="position: relative;">
<carousel>
    <slide>
      <img src="../../../assets/images/download.png" alt="first slide" style="display: block; width: 100%;margin-top: 20px; height: 650px;">
    </slide>
    <slide>
      <img src="../../../assets/images/download2.png" alt="second slide" style="display: block; width: 100%;margin-top: 20px; height: 650px;">
    </slide>
    <slide>
      <img src="../../../assets/images/dowmnload3.png" alt="third slide" style="display: block; width: 100%;margin-top: 20px; height: 650px;">
    </slide>
  </carousel>
  <div style="position: absolute; bottom: 50px;">
    <h1 style="float: right;">Are you Fan of team India?</h1>
    <h1>Welcome To Team MIB Fan Club</h1>
  </div>
</div>

<app-testimonial></app-testimonial>