<div class="container">
    
        
    <br/>  
    <br/>  
    
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <div class="row">
                  <div class="col-xs-6">
                    <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="goToShop()">
                      <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-body" style="height:140px;" id="products" *ngFor = "let cart of cartDetail">
           
              <div class="row" >
                <div class="col-xs-2"><img class="img-responsive" [src]="cart.productImg">
                </div>
                <div class="col-xs-4">
                  <h4 class="product-name"><strong>{{ cart.productsName}}</strong></h4><h4><small> </small></h4>
                </div>
                <div class="col-xs-6">
                  <div class="col-xs-6 text-right">
                    <h6><strong>Qty : {{cart.productQty}}</strong></h6>
                  </div>
                  <div class="col-xs-4">
                      <h6><strong>Price : {{cart.productPrice}} </strong></h6>
                  </div>
                  <div class="col-xs-2">
                    <button type="button" class="btn btn-link btn-xs" (click) ="deleteThisProduct(cart._id)"> 
                      <span class="glyphicon glyphicon-trash"> </span>
                    </button>
                  </div>
                </div>
              </div>
    
            </div>
            <div class="panel-footer">
              <div class="row text-center">
                <div class="col-xs-9">
                  <h4 class="text-right">Total <strong>Rs. {{ totalPrice }}</strong></h4>
                </div>
                <div class="col-xs-3">
                  <button type="button" class="btn btn-success btn-block" (click)="purchaseOrder()">
                    Checkout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>