@import url('https://fonts.googleapis.com/css?family=Lato');

body, html, .container {
    font-family: 'Lato', sans-serif !important;
    margin-top: 30px;
}

h3 {
    margin-top: 50px;
    font-family: 'Lato', sans-serif !important;
}

.video-thumbnail{
    padding: 10px;
   height: 300px;
}

#products {
    height: 350px;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}