<div class="container">
  
  <div class="row">
      <div  class="col-md-4" *ngIf="videoList" style="height:500px;overflow-y:scroll;margin-bottom:20px;background-color:lightyellow">
          <h3 style="text-align:center;color:blueviolet">Team Videos</h3>
          <div  class="col-md-12" *ngFor="let video of videoList.data">
              <div (click)="playVideos(video._id)" style="cursor:pointer;">
                  <div class="col-md-4">
                      <img src="{{video.thumbnails}}" class="img-responsive" alt="{{video.videoTitle}}" >
                  </div>
                  <div class="col-md-8">
                      <h5>{{video.videoTitle}}</h5>
                  </div>
              </div>
          </div>   
      </div>
       <div class="col-md-8">
          <div class="col-md-12" *ngIf="selectedVideoId" >
              <iframe class="col-md-12" height="345" [src]="safeURL"></iframe> 

              <!-- <button [disabled]="dataByuserLike" class="btn btn-lg btn-warning btn-circle" (click)="OnLikeDislike  ()"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>({{redis_Like}})

              <button [disabled]="dataByuserUnLike" class="btn btn-lg btn-danger btn-circle" (click)="OnLikeDislike()"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>({{redis_UnLike}})
             -->
             <button [disabled]="dataByuserLike" class="btn btn-lg btn-warning btn-circle" (click)="OnLk()"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>({{intial_like}})
             
              <button [disabled]="dataByuserUnLike" class="btn btn-lg btn-danger btn-circle" (click)="OnDk()"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>({{intial_dislike}})
          </div>   
      </div>
     <div class="col-md-3" *ngIf="selectedVideoId">
              <h4 style="color:blueviolet">Comments</h4> 
              
              <ng-container *ngIf="videosComments; else elseTemplate">
                  <div class="col-md-12" id="commentContent" *ngFor="let comment of videosComments">
                      <li> <b>{{comment.userName}}</b> {{comment.comments}} <br>{{comment.ModifiedDate.replace('IT', ' ')}}</li>
                      <!-- <li> <b>{{videosUserComments.userName}</b> {{videosUserComments.comments}}</li> -->
                  </div> 
              </ng-container>
              <ng-template #elseTemplate>
                  <h4>No comments!!!</h4>
              </ng-template> 

              <hr>
              <textarea rows="4" cols="40" id="comment" name="comment" [(ngModel)]="comment" ></textarea>
              <button class="btn btn-info" type="submit" (click)="OnComment()" >Submit</button>
          </div>
  </div>
</div>