.header-container {
    background-color: #5B19FA;
}   
.img-dimension {
    height: 65px;
}
.top-header-icons{
    color: white;
    font-size: 40px;
    margin-top: 2%;
    margin-right: 0px;
}
.header-navs {
    color: white;
    font-size: 18px;
    margin-left: 3%;
    cursor: pointer; 
}
