<div class="row">
  <div class="col-xs-12 col-snm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit) = "onSignin(f)" #f="ngForm">
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" ngModel>
        <p *ngIf = "!passwordNotMacthed" style="color:red">{{ passwordNotMacthed }}</p>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>&nbsp;
    <button class="btn btn-danger" type="button" (click) = "signInGoogle()" [disabled]="!f.valid">Sign In Google+</button>&nbsp;
    <button class="btn btn-success" (click) = "routeToRegister()">Register</button>
    </form>
  </div>
</div>